body {
    font-family: roboto,'Gill Sans', Calibri,Verdana, sans-serif;
    font-size: 80%;
   
}

header {
    background-color:#ECF0F1  ;
}

nav {
    background-color: #FFC300;
    display: flex; /* Changed to flex */
    justify-content: center; /* Center align the items */
    font-size: 120%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Added flex display */
}

nav ul li {
    margin: 0 10px;
}
   

main {
    background-color: #DAF7A6 ; 
    font-size: 150%;
}

footer {
    background-color:#FF5733
    color: white;
}

h1 {
    text-align:center ;
    font-family:roboto,'Gill Sans', Calibri,Verdana, sans-serif; 
    font-size: 200%;
    color: White;
    font-weight: bold;
}

p {
    line-height:100% ;
}

