body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: ;
}

nav {
    background-color: ;
}

main {
    background-color: ; 
    font-size:;
}

footer {
    background-color: ;
}

li{
    display: ;
    width: ;
}

hi {
    text-align: ;
    font-family: ;
    color: ;
}

p {
    line-height: ;
}
